<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzHmDJOx1f-VLe_fkRnIzjcIH7V7pIlOw</string>
	<key>GCM_SENDER_ID</key>
	<string>948730820759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.injazathr.injazathr</string>
	<key>PROJECT_ID</key>
	<string>injazathr-13f0f</string>
	<key>STORAGE_BUCKET</key>
	<string>injazathr-13f0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948730820759:ios:4770ee8d6eb02a3eaf91d2</string>
</dict>
</plist>